# Xcode user-specific files
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Build artifacts
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
